@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body{

    font-family: 'Poppins', sans-serif;
}
.container{
    width:870px ;
    padding:40px 30px ;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px

}
.player img{
    width: 56px;
    height: 56px;
}
main{
    display: flex;
    justify-content: center;
}
.player-name{
    margin-left: 16px;
}
.player{
    display: flex;
    align-items: center;

}
.players-bottom{
    border: 1px solid #D1D1D1; 

}
.section-title{
    color: 
    #562EFF;
    font-size: 24px;
    font-weight: 500;
}


.blogers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:16px;
}
.bloger img{
    width: 177px;
    height: 117px;
}
.bloger{
    display: flex;
    text-align: center;
}
.content{
    width: 163px;
    height: 68px;
    
}
.blog-name{

}
.blog-title{
    font-size:24px;
    color: 
    #562EFF;
    font-weight: 500px;
}

